<div class="container d-flex justify-content-center">
  <div class="mt-5 shadow py-3 mb-5 bg-body rounded px-5">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <div class="mt-4">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>