<div class="container">
    <h1>Searched by:  </h1>
    <%= search_form_for @q, url: search_posts_path do |f| %>
        
        <%= f.collection_select(:agent_id, @agents, :id, :agent_name) %>
        
        
        <%= f.collection_select(:map_id, @maps, :id, :map_name) %>
        
			
		<%= f.search_field :content_or_title_cont %>		
			
        
        <%= f.submit "search" %>
    <% end %>
    <div class="posts">
        <% @results.each do |post| %>
            <%= link_to post do %>
                <div class="post mt-6 mb-6">
                <%= render post %>
                </div>
            <% end %>
        <% end %>    
    </div>
</div>
