<div class="container">
    <h1>Searched by:  </h1><%= params[:q] %>
    
        <%= sort_link @q, :updated_at, "投稿日時順", default_order: :desc %>  
        <%= sort_link @q, :favorites_count,  "ブックマーク数" %>
    <div class="posts">
        <% @posts.each do |post| %>
            
                <div class="post mt-6 mb-6">
                <%= render post %>
                </div>
            
        <% end %>    
    </div>
    <%= paginate @posts, theme: 'bootstrap-5' %>
</div>
