

<div class="container">

  <div class="row mt-4">
    <h2><%= @post.title %></h2>
  
    <% if user_signed_in? %>
      <%= render "posts/bookmark_link", post: @post %>
    <% else %>
      <%= button_to new_user_session_path do %>
        <i class="fa-regular fa-bookmark fa-lg"></i>
      <% end %>
    <% end %>

    <%= "#{@post.map_name} / #{@post.agent_name}" %>
  </div>

  <div class="row mt-4">
    <div data-bs-toggle="modal" data-bs-target=".bd-hit-modal-lg-<%= @post.id %>" class="col-8">
      <% if @post.hit.attached? %>
        <%= image_tag @post.hit, class: "img-fluid zoom" %> <%#size 709x400%>
      <% end %>
    </div>

    <div class="col-4">
      <p class="post-content"><%= @post.content %></p>
    </div>
    
  </div>

  <div class="row mt-4">
    <div data-bs-toggle="modal" data-bs-target=".bd-position-modal-lg-<%= @post.id %>" class="col">
      <h3>立ち位置</h3>
      <% if @post.position.attached? %>
        <%= image_tag @post.position, class: "img-fluid zoom" %> 
      <% end %>
    </div>

    <div data-bs-toggle="modal" data-bs-target=".bd-angle-modal-lg-<%= @post.id %>" class="col">
      <h3>視点</h3>
      <% if @post.angle.attached? %>
        <%= image_tag @post.angle, class: "img-fluid zoom" %>
      <% end %>
    </div>

  </div>

  <div class="row mt-4 text-center">
    <p>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>
    </p>
    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>

</div>

<div class="modal fade bd-hit-modal-lg-<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<%= image_tag @post.hit, class: "img-fluid" if @post.hit.attached? %>

		</div>
	</div>
</div>

<div class="modal fade bd-position-modal-lg-<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<%= image_tag @post.position, class: "img-fluid" if @post.position.attached? %>

		</div>
	</div>
</div>

<div class="modal fade bd-angle-modal-lg-<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<%= image_tag @post.angle, class: "img-fluid" if @post.angle.attached? %>

		</div>
	</div>
</div>
